body {
	font-family: 'Cinzel', serif;
}

h1 {
	color: #fff;
	font-weight: 200;	
}

/* Main Heading */
.jumbotron {
	background: transparent;
	padding-bottom: 0;
}

.jumbotron h1 {
	color: #fff;
}

/* Heading for round number */
#round-heading {
	font-size: 44px;
}

/* Set a permanent height so that that fadeIn/fadeOut instruction doesn't bump subsequent content */
.div-feedback {
	height: 52px;
}

/* Feedback message for user right after kestroke, displayed under Round heading */
.key-feedback {
	color: #4aaaa5;
	font-size: 30px;
	font-weight: 600;
}

h2 {
	color: #fff;
	font-weight: 200;
}

h3 {
	color: #fff;
	font-weight: 300;
	opacity: .8;
}

/* Heading for Guesses remaining and time remaining */
section h3 {
	font-size: 30px;
}

#remaining-guesses {
	margin-top: 25px;
	color: #4aaaa5;
	font-size: 20px;
}

#remaining-time {
	margin-top: 20px;
}

#remaining-guesses {
	font-size: 40px;
}

h4 {
	color: #fff;
	font-size: 20px;
}

/* Styling for main guess blank letter holders */
#guessBlanks p {
	display: inline-block;
	width: 71.31px;
	height: 72px;
	padding: 0px 20px;
	margin-left: 6px;
	margin-right: 6px;
	color: maroon;
	font-size: 50px;
	
}

/* Use for underlining the blanks.  Class will be removed after letter insert instruction */
.underline {
	border-bottom: 2px solid #800000;
}

.panel {
	/* Apply transparent background to panel.  
	 * Do not use opacity, as it will cause everything else inside to be opaque 
	 * Use rgb as browser fallback
	 */
	background-color: rgb(204,204,204);
	background-color: rgba(204,204,204,0.5);
	height: 500px;
}

.panel-left h3 {
	font-size: 30px;
}

.panel-right h3 {
	font-size: 30px;
}

/* Move the modal down a bit so it is almost in the center of the screen */
.modal {
	margin-top: 10%
}

.modal h4 {
	font-size: 40px;
	margin-top: 65px;
	color: maroon;
}

/* Message for the game over modal */
#game-over-modal-msg {
	font-size: 20px;
}

.modal-header {
	height: 200px;
}

/* Center any text you need */
.text-center {
	text-align: center;
}

.left-align {
	text-align: left;
	display: inline-block;
}

.right-align {
	text-align: right;
	display: inline-block;
}

#game-win-count {
	font-size: 150px;
	color: #fff;
}

/* Make the hint stand out */
#hint-span, #letters-incorrect {
	font-size: 20px;
	font-weight: bold;
	color: orange;
}

#game-loss-count {
	font-size: 150px;
	color: #fff;
}

#timer {
	display: inline-block;
	padding: 0;
	margin: 0;
	font-size: 25px;
	color: orange;
	border-bottom: none;
	text-align: center;
}

#timer span {
	color: orange;
}

@media screen and (min-width: 980px) {
	h2 {
		margin-top: 50px;
	}
}
